body {
  background: #1f2395;
  color: white;
  font-family: Arial;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  background: #b9e3df;
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
}

.nav-left, .nav-right {
  display: flex;
  gap: 20px;
}

.logo {
  background: #22398b;
  padding: 10px 40px;
}

/* HERO */
.hero-center {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.hero-box {
  width: 70%;
  aspect-ratio: 16/9;
  background: linear-gradient(rgba(65,132,178,0.6), rgba(65,132,178,0.6)),
              url("https://images.unsplash.com/photo-1511632765486-a01980e01a18");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-box h1 {
  position: absolute;
  bottom: 20px;
}

/* INFO */
.info {
  text-align: center;
  padding: 120px 20px;
}

.secret {
  font-size: 30px;
  border-bottom: 4px solid #5c7dff;
  display: inline-block;
  margin-bottom: 60px;
}

.event {
  width: 60%;
  height: 200px;
  margin: auto;
  background: linear-gradient(#1d2d9f, #2f8ef5);
  display: flex;
  align-items: center;
  justify-content: center;
}
